body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.gradient-background {
  animation: animateBg 14s linear infinite;
  background-image: linear-gradient(
    0deg,
    #ff0000,
    #fa7000,
    #ff00ea,
    #ff0000,
    #fa7000
  );
  background-size: 100% 400%;
}
@keyframes animateBg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.birthday-gift {
  position: relative;
  margin-top: 280%;

  animation: none;
}

.birthday-gift.shaking {
  animation: shake 0.5s ease-in-out infinite;
}

.birthday-gift:before {
  content: "";
  position: absolute;
  width: 210px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 150px;
  left: -10px;
}

input#click {
  display: none;
}

.gift {
  position: relative;
  width: 200px;
  height: 140px;
  background-color: purple;
  animation: none;
  display: flex;

  justify-content: center;
  align-items: center;
}

@keyframes shake {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

.gift:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 140px;
  background-color: orangered;
  left: 40%;
}

.gift:after {
  content: "";
  position: absolute;
  box-shadow: inset 0 10px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 100px;
  top: -1%;
}

.click {
  position: absolute;
  z-index: 2;
  background-color: purple;
  width: 220px;
  height: 40px;
  top: -40px;
  left: -10px;
  transform-origin: bottom left;
  transition: 0.3s;
  cursor: pointer;
}

.click:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 40px;
  background-color: orangered;
  left: 40%;
}

.click:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 0;
  border-bottom: 30px solid purple;
  border-top: 30px solid purple;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  transform: rotate(-90deg);
  left: 40%;
  top: -47px;
}

#click:checked + .click {
  transform: translateY(-70vh);
}

.wishes {
  transition: 0.5s;
  color: red;
  font-size: 37px;
  text-align: center;
  z-index: -2;
  position: absolute;
  opacity: 0;
  width: 600px;
}
.card {
  position: absolute;
  top: 30%;

  width: 350px;
  height: 310px;
  opacity: 0;
  animation: animateBg 14s linear infinite;
  background-image: linear-gradient(0deg, #fffb05, #13008b, #565560, #fe003b);
  background-size: 100% 300%;
  border-radius: 10px;
  padding: 5px;
  margin: 20px auto;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes animateBg {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.card-header {
  font-family: "Henny Penny", cursive;
  color: white;
}

.card-body {
  flex-grow: 1;
  margin-top: 0px;
}

.message {
  font-size: 16px;
  max-width: 700px;
  margin-top: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

.signature {
  font-weight: bold;
  text-align: right;
}

#click:checked ~ .card {
  transform: translateY(-470px);
  opacity: 1;
  transition: opacity 1.5s;
}

#click:checked ~ .sparkles {
  display: block;
}
#click:checked ~ .sparkles-mid {
  display: block;
}
#click:checked ~ .sparkles-right {
  display: block;
}

button {
  cursor: pointer;
  box-shadow: inset 0px 1px 0px 0px #e184f3;
  background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  background-color: #c123de;
  border-radius: 6px;
  border: 1px solid #a511c0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9b14b3;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.sparkles {
  position: absolute;
  display: none;
  top: -15px;

  left: 60px;
}
.sparkles-mid {
  position: absolute;
  display: none;
  top: -15px;

  left: 5px;
}
.sparkles-right {
  position: absolute;
  display: none;
  top: -15px;

  left: 100px;
}

.spark1,
.spark2,
.spark3,
.spark4,
.spark5,
.spark6 {
  position: absolute;
  background-color: #fee440;
  border-radius: 50%;
  top: -9px;
  z-index: -1;
}

.spark1 {
  width: 8px;
  height: 8px;
  left: 30px;
  top: -9px;
  animation: fire 0.9s ease-in-out infinite, color 0.4s linear infinite;
}

.spark1:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 8px;
  left: 11px;
  background-color: #fee440;
  border-radius: 50%;
}

.spark2 {
  width: 9px;
  height: 9px;
  left: 33px;
  top: -5px;
  animation: fire2 0.28s ease-in-out infinite, color 0.4s linear infinite;
}

.spark2:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 12px;
  left: 3px;
  background-color: #fee440;
  border-radius: 50%;
}

.spark3 {
  width: 8.5px;
  height: 8.5px;
  left: 33px;
  top: -5px;
  animation: fire3 0.36s ease-in-out infinite, color2 0.4s linear infinite;
}

.spark3:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 12px;
  left: -1px;
  background-color: #fee440;
  border-radius: 50%;
}

.spark4 {
  width: 7px;
  height: 7px;
  left: 27px;
  top: -5px;
  animation: fire2 0.24s ease-in-out infinite, color2 0.2s linear infinite;
}

.spark5 {
  width: 7px;
  height: 7px;
  left: 29px;
  top: -5px;
  animation: fire3 0.45s ease-in-out infinite, color 0.2s linear infinite;
}

.spark6 {
  width: 6px;
  height: 6px;
  left: 29px;
  top: -5px;
  animation: fire 0.35s ease-in-out infinite, color2 0.2s linear infinite;
}

@keyframes fire3 {
  100% {
    transform: translateX(20px) translateY(-93px);
    opacity: 0.3;
  }
}

@keyframes fire2 {
  100% {
    transform: translateX(-5px) translateY(-90px);
    opacity: 0.3;
  }
}

@keyframes fire {
  100% {
    transform: translateX(-25px) translateY(-95px);
    opacity: 0.3;
  }
}

@keyframes color {
  from {
    background-color: #d00000;
  }
  to {
    background-color: #0081a7;
  }
}

@keyframes color2 {
  from {
    background-color: #8cff00;
  }
  to {
    background-color: #1d2d44;
  }
}
